<div class="card individual">
    <p>You are adopting {{animalname}}. Please write your user id, so we can register you on our database.</p>
    <form>
        <label for="iduser">User id:</label>
        <input type="text" id="iduser" name="iduser">
    </form>
    <h5>Thanks for adopting!</h5>
    <button id="adopt"  >Adopt me!!!</button>
</div>